name: Pipeline 

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout do repositório
        uses: actions/checkout@v4

      - name: 2. Configurar Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: 3. Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: 4. Rodar Testes (Django)
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
        run: |
          python manage.py test

  sast:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout do repositório
        uses: actions/checkout@v4

      - name: 2. Configurar Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: 3. Instalar dependências para SAST
        run: |
          python -m pip install --upgrade pip
          # Instala o bandit e o flake8 para as análises
          pip install bandit flake8
          
      - name: 4. Rodar Linter (Flake8)
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exclude=migrations,venv,__pycache__
          
      - name: 5. Rodar SAST (Bandit)
        run: |
          # Procura por falhas de segurança no código
          bandit -r . --exclude "./venv,./migrations,./tests.py"

      - name: 6. SAST (Dependency Review)
        if: github.event_name == 'pull_request'
        uses: actions/dependency-review-action@v4

  dast:
    needs: [build-and-test, sast]
    runs-on: ubuntu-latest
    
    steps:
      - name: 1. Checkout do repositório
        uses: actions/checkout@v4

      - name: 2. Configurar Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: 3. Instalar dependências (com Gunicorn)
        run: |
          python -m pip install --upgrade pip
          # Gunicorn é um servidor de produção. É melhor que o 'runserver'
          pip install -r requirements.txt gunicorn
      
      - name: 4. Iniciar o servidor (em background)
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          DEBUG: "False" 
        run: |
          # Inicia o Gunicorn em background na porta 8000
          # Substitua 'config.wsgi' pelo caminho do seu arquivo wsgi
          gunicorn config.wsgi --bind 0.0.0.0:8000 &
          # Dá um tempo para o servidor subir
          sleep 15 
          
      - name: 5. Rodar DAST (OWASP ZAP Scan)
        uses: zaproxy/action-baseline@v0.11.0
        with:
          target: 'http://127.0.0.1:8000'
          fail_action: true
