name: Pipeline

on:
  push:
    branches: [ master ]  
  pull_request:
    branches: [ master ]  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 1. Checkout do repositório
        uses: actions/checkout@v4

      - name: 2. Configurar Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: 3. Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt bandit
          
      - name: 4. Rodar Linter (Flake8)
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exclude=migrations,venv,__pycache__
          
      - name: 5. Rodar Testes
        run: |
          python manage.py test
      
      - name: 6. SAST (Dependências)
        run: |
          bandit -r . --exclude "./venv,./migrations,./tests.py"

      - name: 7. SAST (Dependency Review)
        if: github.event_name == 'pull_request'
        uses: actions/dependency-review-action@v4
